/.vscode
/adding css classes.html
/ajax get requests.html
/ajax post request.html
/animations.html
/appendandprepend html ele.html
/before and after.html
/blur event.html
/call back functions.html
/changing element attributes.html
/changing html with jq.html
/checking jquery.html
/click events.html
/custom css.html
/deleting from Dom.html
/delte child elements of dom.html
/fading in and fading out.html
/focus event.html
/form submit event..html
/getting form values.html
/hiding elements.html
/hover event.html
/jq selectors.html
/jq syntax.html
/key up event.html
/looping through elements.html
/removing css classes.html
/resizing window event.html
/showing elements.html
/slide up and slide down.html
/toggling css classes.html
/toggling fades and display.html
/width dimensions.html